<!-- <h1>Holus</h1>
<h2>
  {{'Mi nombre es ' + getName()}}
</h2>  -->
<!-- <cursos></cursos> -->
<!-- <app-imagen></app-imagen> -->
<!-- <cursos2><cursos2> -->
<!-- <app-boton></app-boton> -->
<!-- <app-clase11></app-clase11>
<app-clase12></app-clase12> -->
<!-- <app-clase15></app-clase15> -->
<!-- <app-clase21></app-clase21> -->
<!-- <div *ngIf="isValid"> reee locoo</div>
<div *ngIf="!isValid"> reee locoo a la inversa</div>
<div *ngIf="2+2==4">Bien calculado capooo!</div> -->
<!-- <div *ngIf="cursos.length">Hay curselios</div> -->
<!-- <div *ngIf="cursos.length then hayCursos else noHayCursos"></div>
<hr>
<button (click)="eliminar()">chiau</button>

<div>hola</div>
<div hidden>me juis</div> -->
<!-- 
<div [hidden]="cursos.length==0"> tengo cursos</div>
<div [hidden]="cursos.length>0">no tengo cursos</div> 


<ng-template #hayCursos>si hay</ng-template>
<ng-template #noHayCursos>no hay</ng-template>

<div *ngIf="cursos.length>0 then hayCursos else noHayCursos"></div> -->

<!-- <ul>
  <li> {{cursos[0]}}  </li>
  <li> {{cursos[1]}}  </li>
  <li> {{cursos[2]}}  </li>
  <li> {{cursos[3]}}  </li>
  
</ul>

<ul>
  <li *ngFor="let cursi of cursos"> {{cursi}}</li>
</ul> -->
<ol>
  <li *ngFor="let persona of personas">
    {{persona.nombre}}  {{persona.edad}} años </li>
</ol>