 <!-- <h1>Holus</h1>
<h2>
  {{'Mi nombre es ' + getName()}}
</h2>  
<cursos></cursos>
<app-imagen></app-imagen> 
<cursos2><cursos2> 
<app-boton></app-boton> 
<app-clase11></app-clase11>
<app-clase12></app-clase12>
<app-clase15></app-clase15> 
<app-clase21></app-clase21> 
<div *ngIf="isValid"> reee locoo</div>
<div *ngIf="!isValid"> reee locoo a la inversa</div>
<div *ngIf="2+2==4">Bien calculado capooo!</div>
<div *ngIf="cursos.length">Hay curselios</div>
 <div *ngIf="cursos.length then hayCursos else noHayCursos"></div>
<hr>
<button (click)="eliminar()">chiau</button>

<div>hola</div>
<div hidden>me juis</div> 
 
<div [hidden]="cursos.length==0"> tengo cursos</div>
<div [hidden]="cursos.length>0">no tengo cursos</div> 


<ng-template #hayCursos>si hay</ng-template>
<ng-template #noHayCursos>no hay</ng-template>

<div *ngIf="cursos.length>0 then hayCursos else noHayCursos"></div>

<ul>
  <li> {{cursos[0]}}  </li>
  <li> {{cursos[1]}}  </li>
  <li> {{cursos[2]}}  </li>
  <li> {{cursos[3]}}  </li>
  
</ul>

<ul>
  <li *ngFor="let cursi of cursos"> {{cursi}}</li>
</ul>

<button (click)="onAgregar()" class="btn btn-primary">Agregar</button>

<ol>
  <li *ngFor="let persona of personas">
   {{persona.nombre}}  {{persona.edad}} años 
  <button class="btn btn-danger" (click)="onBorrar(persona)">borrar</button>
  <button class="btn btn-warning" (click)="onEdit(persona)">Edit</button>
  
  <input *ngIf="isValid && personas.indexOf(persona)===index" type="text" [(ngModel)]="persona.nombre">
  
  <p>{{isValid && personas.indexOf(persona)===index}}</p> 
  
  </li>
</ol>
 <p>{{index}}</p> 

 <ul *ngFor="let persona of personas" [ngSwitch]="persona.hobbie">
  <li *ngSwitchCase="'sing'" class="text-primary">{{persona.nombre}}  {{persona.edad}} años </li>
  <li *ngSwitchCase="'dance'" class="text-danger">{{persona.nombre}}  {{persona.edad}} años </li>
  <li *ngSwitchCase="'run'" class="text-success">{{persona.nombre}}  {{persona.edad}} años </li>
 </ul> -->

 <!-- <div [style.backgroundColor] = " isValid ? 'green' : 'red'"
      [style.color]="isValid?'green':'white'">
      hola
</div>

<hr>
<div [ngStyle]="{'backgroundColor': 'yellow', 'color': 'orange', 'font-size.px':'40'}">
chiau
</div>
<hr>
<div [ngStyle]="{'backgroundColor': isValid?'orange':'white'}">
  chiau
</div>
<hr>
<ul *ngFor="let persona of personas">
  <li [ngStyle]="{'color': getColor(persona.hobbie)}">{{persona.nombre}}</li>
  
</ul> -->

<!-- <div>
  <input type="radio" name="colores" (click)="color='green'">Verde
  <input type="radio" name="colores" (click)="color='blue'">Azul
  <input type="radio" name="colores" (click)="color='red'">Rogelio
</div>


<div [appCambiarColor]="color">holas</div> -->

<!-- 
<div *ngIf="persona.trabajo">
{{persona.trabajo?.tel}}
</div> -->

<div class="container">
  <div>{{curso.titulo|uppercase}}</div>
  <div>{{curso.num_est|number}}</div>
  <div>{{curso.rating|number:'.1-1'}}</div>
  <div>{{curso.precio|currency}}</div>
  <div>{{curso.precio|currency:'AUD'}}</div>
  <div>{{curso.precio|currency:'CAD'}}</div>
  <div>{{curso.fecha_lan|date:"shortDate"}}</div>
</div>

<div>{{texto|resumir:5}}</div>